{% extends 'site_base.html' %}
{% load tei %}

{% block page-subtitle %} | {{ document.title }}{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1>{{ document.title }}</h1>

    <div>
      <p><strong>Workshop date</strong>: {{ document.date }}</p>
      <p><strong>Poet</strong>: {{ document.author }}</p>
    </div>

    <div class="contents">
      <p>{{ document.toc.title }}</p>
      <ul>
      {% for item in document.toc.items %}
         <li>{{ item }}</li>  {# FIXME: these don't actually have ids ? #}
      {% endfor %}
      </ul>
    </div>

    {% for poem in document.poems %}
      <div class="poem">
        {% if poem.title %}
          <h2>{{ poem.title }}</h2>
        {% endif %}
        {{ poem.body|format_tei }}
     </div>
     {% if poem.byline %}
       <p class="byline">{{ poem.byline }}</p>
     {% endif %}
    {% endfor %}

</div>
{% endblock %}