{% extends 'site_base.html' %}
{% load tei %}

{% block page-subtitle %} | {{ document.title }}{% endblock %}

{% block head-extras %}
  {% if document.ark %}
    <link href="{{ document.ark }}" rel="bookmark"/>
  {% endif %}
  <link rel="alternate" type="application/rdf+xml" href="{% url 'groupsheets:view' document.id %}RDF/"/>
  {# NOTE: not strictly an alternate (may contain multiple groupsheets), but close... #}
  <link rel="alternate" type="application/xml" href="{% url 'groupsheets:xml' document.document_name %}"/>
{% endblock %}

{% block body-attrs %}data-spy="scroll" data-target=".local-sidenav" data-offset-top="200"{% endblock %}

{% block content %}
  <div class="row">

  <div class="contents span3 local-sidenav">
    {# use toc item titles for RDF title list #}
    {% for item in document.toc.items %}
      <meta property="dc:title" inlist="inlist" content="{{ item }}"/>
    {% endfor %}

    {# NOTE: there is a table of contents item list, but it does not include ids #}
    {# generating toc from the actual poems instead #}
    <ul class="nav nav-list sidenav affix">
        <li><h4>{{ document.toc.title }}</h4></li> {# must be in list to stay fixed #}
        {% for poem in document.poems %}
          <li><a href="#{{ poem.id }}">{{ poem.title|default:'[untitled]' }}</a></li>
        {% endfor %}
    </ul>
  </div> {# end sidenav #}

  <div class="span6">
    <h1 property="schema:name">{{ document.title }}</h1>
    <div>
      <p><strong>Time period</strong>: {{ document.date }}</p>
      {# NOTE: using byline from the first poem rather than document.author in order to generate RDF person info #}
      <p><strong>Poet</strong>: {{ document.poems.0.back|format_tei }}</p>

      {% if document.ark %}
      <p><strong>Permanent URL</strong>:
          <a href="{{ document.ark }}" rel="bookmark schema:URL">{{ document.ark }}</a></p>
      {% endif %}
    </div>

    {% for poem in document.poems %}
    {# NOTE: using ARK URL plus the poem id for poem URI #}
      <div class="poem" typeof="schema:CreativeWork" about="{{ document.ark}}#{{poem.id }}" id="{{ poem.id }}">
        <a name="{{ poem.id }}"> </a>
        {% if poem.title %}
          <h3 property="schema:name">{{ poem.title }}</h3>
        {% endif %}
        {{ poem.body|format_tei }}
        {% if poem.byline %}
          <p class="byline">{{ poem.back|format_tei }}</p>
        {% endif %}
      </div>
    {% endfor %}

    <p class="pull-right"><a href="{% url 'groupsheets:xml' document.document_name %}" rel="alternate">TEI XML</a></p>
  </div> {# end right column #}

 </div> {# end row #}
{% endblock %}