{% extends 'site_base.html' %}
{% load tei %}

{% block page-subtitle %} | {{ document.title }}{% endblock %}

{% block head-extras %}
  {% if document.ark %}
    <link href="{{ document.ark }}" rel="bookmark">
  {% endif %}
{% endblock %}

{% block content %}

<div class="container-fluid">
    <h1>{{ document.title }}</h1>

    <div>
      <p><strong>Time period</strong>: {{ document.date }}</p>
      <p><strong>Poet</strong>: {{ document.author }}</p>
      {% if document.ark %}
      <p><strong>Permanent URL</strong>: <a href="{{ document.ark }}" rel="bookmark">{{ document.ark }}</a></p>
      {% endif %}
    </div>

    <div class="contents">
      <p>{{ document.toc.title }}</p>
      <ul>
{# NOTE: there is a table of contents item list, but it does not include ids #}
{# generating toc from the actual poems instead #}
        {% for poem in document.poems %}
        <li><a href="#{{ poem.id }}">{{ poem.title|default:'[untitled]' }}</a></li>
        {% endfor %}
      </ul>
    </div>

    {% for poem in document.poems %}
      <div class="poem">
        <a name="{{ poem.id }}"> </a>
        {% if poem.title %}
          <h2>{{ poem.title }}</h2>
        {% endif %}
        {{ poem.body|format_tei }}
     </div>
     {% if poem.byline %}
       <p class="byline">{{ poem.byline }}</p>
     {% endif %}
    {% endfor %}

</div>
{% endblock %}