{% extends 'site_base.html' %}
{% load tei %}

{% block page-subtitle %} | Group Sheets{% endblock %}

{% block content %}

<div class="row">

  <div class="span3 sidebar">
    <h4>Filter groupsheets</h4>

    {% if filters %}
      <ul>
        {% for label, link in filters.iteritems %}
        <li>{{ label }} <a class="small" href="{{ link }}"><i class="icon-remove-sign"></i></a></li>
        {% endfor %}
    </ul>
    {% endif %}

    {# TODO: display filters and make them toggle-able #}

    <hr/>

    {# FIXME: this link loses current filter when combining #}
    {% if facets.digital %}
    <p><a href="?edition=digital{{ url_suffix }}">digital editions</a> ({{ facets.digital }})</p>
    {% endif %}

    {% if facets.authors %}
    <p><b>Author</b></p>
    <ul>
        {% for author, total in facets.authors %}
        <li><a href="?author={{ author.slug }}{{ url_suffix }}">{{ author.name }}</a> ({{ total }})</li>
        {% endfor %}
    </ul>
    {% endif %}

    {% if facets.sources %}
    <p><b>Source</b></p>
    <ul>
        {% for source in facets.sources %}  {# TODO: need to use short names here! #}
        <li><a href="?source={{ source }}{{ url_suffix }}">{{ source }}</a> ({{ source.total_groupsheets }})</li>
        {% endfor %}
    </ul>
    {% endif %}

  </div> {# end sidebar #}

  <div class="span9">

    <h1 property="schema:name">Group Sheets</h1>

    <p>Displaying {{ documents.count }} group sheets.</p>

    <ul class="groupsheet-list">
        {% for doc in documents %}
        <li>
            {% include 'groupsheets/snippets/list_groupsheet.html' %}
        </li>
        {% endfor %}
    </ul>
  </div>

</div>
{% endblock %}