{% load static %}
{# structured for inclusion as a profile tab #}

<p>Force-directed ego graph of people, places, and organizations directly connected to
  <b>{{ person.fullname }}</b>.
  Nodes are colored by type.  Mouse over a label to see the text more clearly.</p>

{% include 'network/snippets/graph_with_controls.html' %}

  {# TODO: make ego-graph radius configurable / user-editable ? #}
 <link href="{% static 'js/jquery-ui/css/ui-lightness/jquery-ui-1.10.3.custom.min.css' %}" rel="stylesheet" media="screen"/>
  <script type="text/javascript" src="{% static 'js/jquery-ui/js/jquery-ui-1.10.3.custom.min.js' %}"></script>
  <script src="{% static 'js/d3.min.js' %}" charset="utf-8"></script>
  <link type="text/css" href="{% static 'css/d3.force.css' %}" rel="stylesheet" media="screen"/>
   <script type="text/javascript" src="{% static 'js/d3.force.js' %}"></script>
   <script type="text/javascript">
      ForceGraphControls({
        target: "#graph-controls",
        graph_options: {
            url: "{% url 'people:egograph-js' id=person.slug %}",
            target: "#network-graph",
            width: 1000,
            height: 500,
            highlight: ['{{ person.identifier }}'],
            labels: true,
            label_minsize: 6,
            node_info_url: "{% url 'people:egograph-node'  id=person.slug %}"
        }
      });
   </script>
