{% load static %}
{# structured for inclusion as a profile tab #}

<p>Force-directed ego graph of people, places, and organizations directly connected to
  <b>{{ person.fullname }}</b>.
  Nodes are colored by type.  Mouse over a label to see the text more clearly.</p>
  {# TODO: make ego-graph radius configurable / user-editable ? #}

 <div id="chart"></div>

  <script src="{% static 'js/d3.min.js' %}" charset="utf-8"></script>
  <link type="text/css" href="{% static 'css/d3.force.css' %}" rel="stylesheet" media="screen"/>
   <script type="text/javascript" src="{% static 'js/d3.force.js' %}"></script>
   <script type="text/javascript">
      ForceGraph({
        url: "{% url 'people:egograph-js' id=person.slug %}",
        width: 800,
        height: 500,
        highlight: ['{{ person.identifier }}']
      });
   </script>
