{% extends 'site_base.html' %}

{% block page-subtitle %} | Members{% endblock %}

{% block content %}

<div class="container-fluid">
<h1 property="schema:name">People associated with the Belfast Group</h1>
<ul>
{% for person, rels in people.iteritems %}
    <li><a href="{% url 'people:profile' person.short_id %}">{{ person.fullname }}</a>
      {% if rels %}
        ({{ rels|join:', '}})
      {% endif %}
     {# {{ person.fullname|slugify }} {{ person.short_id }} #}
   </li>
{% endfor %}
</ul>

</div>
{% endblock %}