{% extends 'site_base.html' %}
{% load static %}

{% block page-subtitle %} | Members | {{ person.fullname }}{% endblock %}

{% block head-extras %}
{% endblock %}

{% block content %}

<div class="container-fluid">

<h1>{{ person.fullname }}</h1>

{# name = {{ person.name }}<br/> #}
{# fullname = {{ person.fullname }}<br/> #}
{# lastname {{ person.lastname}}<br/> #}
{# firstname {{ person.firstname}}<br/> #}
{# short id {{ person.short_id }}<br/> #}

{% if person.occupation %}
<p><b>Occupation:</b> {{ person.occupation|join:', ' }}</p>
{% endif %}

{% if person.locations %}
<p><b>Locations:</b>
    {# for now, link to outside URI location; eventually may want in-site links #}
  {% for loc in person.locations %}
  <a href="{{ loc.identifier }}">{{ loc }}</a>{% if not forloop.last %}; {% else %}.{% endif %}
  {% endfor %}
  </p>
{% endif %}

{% if person.birthdate %}
<p>Born {{ person.birthdate }}
    {% if person.birthplace %}
    in <a href="{{ person.birthplace.identifier }}">{{ person.birthplace }}</a>{% endif %}.</p>
{% endif %}

{% if person.dbpedia_description %}
 <p>{{ person.dbpedia_description }}
    <small><i>(DBpedia)</i></small></p>
{% endif %}

<ul class="nav nav-tabs" id="vizTab">
  <li class="active"><a href="#connections">Connections</a></li>
  <li><a href="#graph">Network Graph</a></li>
  {% if groupsheets %}
    <li><a href="#groupsheets">Group Sheets</a></li>
  {% endif %}
</ul>

<div class="tab-content">
  <div class="tab-pane active" id="connections">

    <h4>People</h4>
    <ul>
    {% for conn, rel in person.connected_people.iteritems %}
        <li>{{ conn.fullname }}
            <small>&lt;{{ conn.identifier }}&gt;</small>
            {% if rel %} - {{ rel|join:', '}}{% endif %}
        </li>
    {% endfor %}
    </ul>

    <h4>Organizations</h4>
    <ul>
    {% for conn, rel in person.connected_organizations.iteritems %}
        <li>{{ conn.name }}
            <small>&lt;{{ conn.identifier }}&gt;</small>
            {% if rel %} - {{ rel|join:', '}}{% endif %}
        </li>
    {% endfor %}
    </ul>
  </div>

  <div class="tab-pane" id="graph">
    {% include "people/ego_graph.html" %}
  </div>

  {% if groupsheets %}
    <div class="tab-pane" id="groupsheets">
        <ul class="groupsheet-list">
            {% for doc in groupsheets %}
            <li>{% include 'groupsheets/snippets/list_groupsheet.html' with profile=True %}</li>
            {% endfor %}
        </ul>
    </div>
  {% endif %}

</div>

<script>
  $(function () {
    $('#vizTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
     });
  });
</script>


</div>
{% endblock %}