{% extends 'site_base.html' %}
{% load static %}

{% block page-subtitle %} | Members | {{ person.name }}{% endblock %}

{% block head-extras %}
{% endblock %}

{% block content %}
<div class="container">

<h1>{{ person.name }}</h1>
{% if pic %}
  <div class="thumbnail pull-right">
    <img src="{{ MEDIA_ROOT}}{{ pic.img.url }}" width="{{ pic.img.width }}" height="{{ pic.img.height }}"/>
    <div class="caption">
      <h4>{{ pic.title }}</h3>
      <ul class="list-inline small">
        {% if pic.date %}<li>{{ pic.date }}</li>{% endif %}
        {% if pic.creator %}<li>{{ pic.creator }}</li>{% endif %}
        {% if pic.publisher %}
        <li>
          {% if pic.publisher_url %}<a href="{{ pic.publisher_url }}">{{ pic.publisher }}</a>
          {% else %}{{ pic.publisher }}{% endif %}
        </li>
        {% endif %}
      </ul>
      {% if pic.collection %}
        <p><small><a href="{{ pic.rdfcollection }}">{{ pic.collection }}</a></small></p>
      {% endif %}
      <p><i class="small">{{ pic.permissions }}</i></p>
    </div>
  </div>
{% endif %}

{% comment %}  {# Using local profile images instead of dbpedia thumbnails #}
{% if person.dbpedia.thumbnail %}
<div class="pull-right">
  <img src="{{ person.dbpedia.thumbnail }}"/>
  <p><small><i>image via <a href="{{ person.dbpedia.wikipedia_url }}">Wikipedia</a></i></small></p>
</div>
{% endif %}
{% endcomment %}

{# suppressing rdf occupation, locations, birth date & place - redundant with description #}
{% comment %}
{% if person.occupation %}
<p><b>Occupation:</b> {{ person.occupation|join:', ' }}</p>
{% endif %}

{% if person.locations %}
<p><b>Locations:</b>
    {# for now, link to outside URI location; eventually may want in-site links #}
  {% for loc in person.locations %}
  <a href="{{ loc.identifier }}">{{ loc }}</a>{% if not forloop.last %}; {% else %}.{% endif %}
  {% endfor %}
  </p>
{% endif %}

{% if person.birthdate %}
<p>Born {{ person.birthdate }}
    {% if person.birthplace %}
    in <a href="{{ person.birthplace.identifier }}">{{ person.birthplace }}</a>{% endif %}.</p>
{% endif %}
{% endcomment %}

{% if person.description %}
 <p class="description">{{ person.description }}
    <small><i>(<a href="{{ person.description_context }}">{{ person.desc_context_name }}</a>)</i></small> {# should be safe to assume for now ... #}
    {# TODO: should really link to the findingaids where the description comes from #}
 </p>
{% elif person.dbpedia.description %}
 <p>{{ person.dbpedia.description }}
    <small><i>({% if person.dbpedia.wikipedia_url %}<a href="{{ person.dbpedia.wikipedia_url }}">Wikipedia</a>{% else %}Wikipedia{% endif %})</i></small></p>
{% endif %}

<ul class="nav nav-tabs" id="vizTab">
  {# only display connections & network tab if there are any #}
  {% if person.connected_people|length or person.connected_organizations|length %}
    <li class="active"><a href="#connections">Connections</a></li>
    <li><a href="#graph">Network Graph</a></li>
  {% endif %}
  {% if groupsheets %}
    <li><a href="#groupsheets">Group Sheets</a></li>
  {% endif %}
</ul>

<div class="tab-content">
  {% if person.connected_people|length or person.connected_organizations|length %}
  <div class="tab-pane active" id="connections">

  {% if person.connected_people %}
    <h4>People</h4>
    <ul>
    {% for conn, rel in person.connected_people.iteritems %}
        <li>{{ conn.fullname }}
            <small>&lt;{{ conn.identifier }}&gt;</small>
            {% if rel %} - {{ rel|join:', '}}{% endif %}
        </li>
    {% endfor %}
    </ul>
  {% endif %}

  {% if person.connected_organizations %}
    <h4>Organizations</h4>
    <ul>
    {% for conn, rel in person.connected_organizations.iteritems %}
        <li>{{ conn.name }}
            <small>&lt;{{ conn.identifier }}&gt;</small>
            {% if rel %} - {{ rel|join:', '}}{% endif %}
        </li>
    {% endfor %}
    </ul>
  {% endif %}
  </div>

  <div class="tab-pane" id="graph">
    {% include "people/ego_graph.html" %}
  </div>
  {% endif %}

  {% if groupsheets %}
    <div class="tab-pane {% if not person.connected_people|length and not person.connected_organizations|length %}active{% endif %}" id="groupsheets">
        <ul class="groupsheet-list">
            {% for doc in groupsheets %}
            <li>{% include 'groupsheets/snippets/list_groupsheet.html' with profile=True %}</li>
            {% endfor %}
        </ul>
    </div>
  {% endif %}

</div>
</div>
<script>
  $(function () {
    $('#vizTab a').click(function (e) {
      e.preventDefault();
      $(this).tab('show');
     });
  });
</script>
{% endblock %}