{% extends 'page_base.html' %}
{# flatpage template for overview, with scrollspy side navigation #}
{% load static %}

{% block page-subtitle %} : {{ flatpage.title }}{% endblock %}

{% block head-extras %}
  {# re-use scrollspy styles used on poetry groupsheets #}
  <link href="{% static 'css/poetry.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body-attrs %}data-spy="scroll" data-target=".local-sidenav" data-offset-top="100"{% endblock %}

{% block page-content %}
  <h1 property="schema:name">{{ flatpage.title }}</h1>
  {% include "flatpages/snippets/flatpage_content.html" %}
{% endblock %}
