{% extends 'page_base.html' %}
{# flatpage template for overview, with scrollspy side navigation #}
{% load static %}

{% block page-subtitle %} : {{ flatpage.title }}{% endblock %}

{% block head-extras %}
  {# re-use scrollspy styles used on poetry groupsheets #}
  <link href="{% static 'css/poetry.css' %}" rel="stylesheet"/>
{% endblock %}

{% block body-attrs %}data-spy="scroll" data-target=".local-sidenav" data-offset-top="200"{% endblock %}

{% block page-content %}
    {% include 'flatpages/snippets/flatpage_addedit.html' %}
    <h1 class="affix" property="schema:name">{{ flatpage.title }}</h1>
    <div class="text-content">
        {{ flatpage.content|safe }}
    </div>
{% endblock %}
