{% extends 'site_base.html' %}
{% load static %}

{% block head-extras %}
  <script src="{% static 'js/masonry.min.js' %}"></script>

  <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/"/>
  <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/"/>
  <meta name="DC.title" content="Belfast Group Poetry|Networks"/>
  <meta name="DC.creator" content=""/>

  <meta name="DC.contributor" content="Rebecca Sutton Koeser"/>
  <meta name="DC.contributor" content="Brian Croxall"/>

  <meta name="DC.publisher" content="Emory Center for Digital Scholarship, Emory University"/>
  <meta name="DCTERMS.issued" content="2015"/>
  {# <meta name="DC.description" content=" "/> #}
  <meta name="DC.subject" scheme="LSCH" content="Heaney, Seamus, 1939-"/>
  <meta name="DC.subject" scheme="LCSH" content="Hobsbaum, Philip."/>
  <meta name="DC.subject" scheme="LCSH" content="Longley, Michael, 1939-"/>
  <meta name="DC.subject" scheme="LCSH" content="Muldoon, Paul."/>
  <meta name="DC.subject" scheme="LCSH" content="Simmons, James, 1933-"/>
  <meta name="DC.subject" scheme="LCSH" content="Lewis H. Beck Center for Electronic Collections."/>
  <meta name="DC.subject" scheme="LCSH" content="Queen's University of Belfast."/>
  <meta name="DC.subject" scheme="LCSH" content="Poets, Irish--20th century."/>
  <meta name="DC.subject" scheme="LCSH" content="Irish poetry--20th century."/>
  <meta name="DC.subject" scheme="LCSH" content="English poetry--Irish authors."/>
  <meta name="DC.subject" scheme="LCSH" content="Northern Ireland."/>
  <meta name="DC.identifier" content="http://belfastgroup.digitalscholarship.emory.edu/"/>
  <meta name="DC.language" content="English"/>
{% endblock %}

{% block content %}
<meta property="schema:name" content="Belfast Group Poetry|Networks"/>
<div id="index">
  <!-- START THE SECTIONS -->
  <div id="intro">
    <div class="container">
      <div class="section row">
        <header class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h2 class="section-heading">The Belfast Group connected a new generation of poets and writers
          from Northern Ireland.
          </h2>
        </header>
        <div class="content col-xs-12 col-sm-9 col-sm-offset-1">
          <p class="lead">Meeting at Philip Hobsbaum’s house in the shadow of Queen’s University, the Group read and commented on the drafts of each others’ poems, plays, and stories. Notable members of the Group included Seamus Heaney, Paul Muldoon, and Michael Longley. <a href="{% url 'groupsheets:list' %}">Read drafts from these poets and others.</a>
          </p>
        </div>
      </div>
    </div><!-- /container -->
  </div><!-- /#intro -->

  <div id="networks">
    <div class="container">
      <div class="section row">
        <header class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h2 class="section-heading">Interactive networks and digitized drafts of poetry
          make the Belfast Group's connections visible.
          </h2>
        </header>
        <div class="content col-xs-12 col-sm-9 col-sm-offset-1">
          <p class="lead">After the Group stopped meeting in 1972, many participants downplayed its importance to their writing. But by graphing the interactions among the members of the Group&#8212;in poems or letters&#8212;we can better understand the relationships created during the writing workshop.
          </p>
          <a href="{% url 'network:overview' %}" class="btn btn-primary pull-right">Visualize the relationships around the Belfast Group.</a>
        </div>
      </div>
    </div><!-- /container -->
  </div><!-- /#networks -->

 {# display profile pictures in random order, tiled with masonry #}
  {% if pictures %}
  <div class="section" id="poets">
    <div class="wrapper">
      {% for pic in pictures %}
      <figure>
        <a href="{{ pic.person_uri }}">
          <img src="{{ pic.image.get__bw__profile }}" title="{{ pic.image.title }}" alt="{{ pic.image.alt_text }}"/>
          <figcaption class="description">
            <p>{{ pic.rdfperson.fullname }}</p>
          </figcaption>
        </a>
      </figure>
      {% endfor %}
    </div>
  </div>
  {% endif %}

  {# /END THE SECTIONS #}
</div>
{% endblock %}

{% block endbody %}
  <script src="{% static 'js/belfast.js' %}"></script>
{% endblock %}
