{% extends 'site_base.html' %}
{% load static %}

{% block head-extras %}
  <script src="{% static 'js/masonry.min.js' %}"></script>
{% endblock %}

{% block content %}
<div id="index">
  <!-- START THE SECTIONS -->
  <div id="intro">
    <div class="container">
      <div class="section row">
        <header class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h2 class="section-heading">The Belfast Group connected a new generation of poets and writers
          from Northern Ireland.
          </h2>
        </header>
        <div class="content col-xs-12 col-sm-9 col-sm-offset-1">
          <p class="lead">Meeting at Philip Hobsbaum’s house in the shadow of Queen’s University, the Group read and commented on the drafts of each others’ poems, plays, and stories. The most notable members of the Group included Seamus Heaney, Paul Muldoon, and Michael Longley. <a href="{% url 'groupsheets:list' %}">Read drafts from these poets and others.</a>
          </p>
        </div>
      </div>
    </div><!-- /container -->
  </div><!-- /#intro -->

  <div id="networks">
    <div class="container">
      <div class="section row">
        <header class="col-xs-12 col-sm-10 col-sm-offset-1">
          <h2 class="section-heading">Interactive networks and digitized drafts of poetry
          make the Belfast Group's connections visible.
          </h2>
        </header>
        <div class="content col-xs-12 col-sm-9 col-sm-offset-1">
          <p class="lead">After the Group stopped meeting in 1972, many participants downplayed its importance to their writing. But by measuring when these authors wrote to each other&#8212;in poems or letters&#8212;we can better understand their connections.</p>
          <a href="{% url 'network:overview' %}" class="btn btn-primary pull-right">Visualize the relationships around the Belfast Group.</a>
        </div>
      </div>
    </div><!-- /container -->
  </div><!-- /#networks -->
{% comment %}
<!-- photos removed until we can find photos we have permission to use
  <div class="section" id="poets">
    <figure>
      <img src="{% static 'img/sh.png' %}"/>
      <figcaption class="description">
        <p><a href="#">Seamus Heaney</a></p>
      </figcaption>
    </figure>
    <figure>
      <img src="{% static 'img/pm.png' %}"/>
      <figcaption class="description">
        <p><a href="#">Paul Muldoon</a></p>
      </figcaption>
    </figure>
    <figure>
      <img src="{% static 'img/js.png' %}"/>
      <figcaption class="description">
        <p><a href="#">James Simmons</a></p>
      </figcaption>
    </figure>
    <figure>
      <img src="{% static 'img/ml.png' %}"/>
      <figcaption class="description">
        <p><a href="#">Michael Longley</a></p>
      </figcaption>
    </figure>
  </div> -->
  <!-- /END THE SECTIONS -->
{% endcomment %}
</div>
{% endblock %}

{% block endbody %}
  <script src="{% static 'js/belfast.js' %}"></script>
{% endblock %}
