{# snippet to display a single rdf groupsheet #}
{% if doc.author %} <b>{{ doc.author.fullname }}</b> {% endif %}
{% for t in doc.titles %}
"{{ t }},"
{% empty %}
  Untitled{{ ' '|add:doc.genre|default:'' }},
{% endfor %}
{% if doc.date %}{{ doc.date }}{% else %}no date{% endif %}.  {# TODO: format date for readability #}
{# perhaps simply omit the no date since the majority are undated? #}
{% if doc.num_pages %}({{ doc.num_pages }} page{{ doc.num_pages|pluralize }}){% endif %}
{% if doc.url and doc.groupsheet_id %}
   <a href="{% url 'groupsheets:view' doc.groupsheet_id %}">[view]</a>
{% endif %}
<p>Source:         {# source archives with a copy of this group sheet #}
{% for uri, name in doc.sources.iteritems %}
         {% if 'http' not in uri %}{{ uri }}{% endif %}
  {% if 'http' in uri %}
    <a href="{{ uri }}">{{ name }}</a>{% else %}{{ name }}{% endif %}{% if forloop.last %}. {% else %}; {% endif %}
{% endfor %}</p>
