{# snippet to display a single rdf groupsheet #}
<p>
  {# FIXME: should list author if different than profile name (e.g. Brendan Kennelly poems on Heaney groupsheet) #}
  {% if doc.author and not profile %} <b>{{ doc.author.lastname }}, {{ doc.author.firstname }}</b>
  {% endif %}
{% for t in doc.title_list %}  {# list of titles if multiple #}
"{{ t }},"
{% empty %} {# single title if we have one, or untitled + genre if available #}
  {% if doc.title %}"{{ doc.title }}"{% else %}{{ 'Untitled '|add:doc.genre|default:'' }}{% endif %},
{% endfor %}
{% if doc.date %}{{ doc.date }}{% else %}no date{% endif %}.  {# TODO: format date for readability #}
{# perhaps simply omit the no date since the majority are undated? #}
{% if doc.num_pages %}({{ doc.num_pages }} page{{ doc.num_pages|pluralize }}){% endif %}
</p>
{% if doc.tei_id %}
   <p><a class="btn btn-primary btn-sm" href="{% url 'groupsheets:view' doc.tei_id %}">view digital edition</a></p>
{% endif %}
{% if doc.sources %}
  <p><small>Source:         {# source archives with a copy of this group sheet #}
    {% for s in doc.sources %}
        <a href="{{ s }}">{{ s.name }}</a>{% if forloop.last %}. {% else %}; {% endif %}
        {% endfor %}</small>
  </p>
{% endif %}
