{% extends 'page_base.html' %}
{% load static %}

{% block page-subtitle %} | Network Chord Diagram{% endblock %}

{% block page-content %}
{% with min_degree=3 %}
<p>Chord diagram of people, places, and organizations in the network,
  filtering out nodes with degree less than {{ min_degree}}.
  Mouse over labels to see the connections specific to that person
  or entity; mouse over the smaller, unlabeled sections to see the name.</p>

 <div id="chart"></div>

  <script src="{% static 'js/d3.min.js' %}" charset="utf-8"></script>
  <link type="text/css" href="{% static 'css/d3.chord.css' %}" rel="stylesheet" media="screen"/>
   <script type="text/javascript" src="{% static 'js/d3.chord.js' %}"></script>
   <script type="text/javascript">
      ChordDiagram({
        matrix: "{% url 'network:js' mode='adjacency' %}?min_degree={{min_degree}}",
        nodes: "{% url 'network:js' mode='full' %}?min_degree={{min_degree}}",
      });
   </script>

{% endwith %}
{% endblock %}