{% extends 'page_base.html' %}
{% load static %}

{% block page-subtitle %} | {{ flatpage.title }}{% endblock %}

{% block page-content %}
{% if flatpage %}
  {% include "flatpages/snippets/flatpage_content.html" %}
{% endif %}

{% with min_degree=3 %}

 <div id="chart"></div>

  <script src="{% static 'js/d3.min.js' %}" charset="utf-8"></script>
  <link type="text/css" href="{% static 'css/d3.chord.css' %}" rel="stylesheet" media="screen"/>
   <script type="text/javascript" src="{% static 'js/d3.chord.js' %}"></script>
   <script type="text/javascript">
      ChordDiagram({
        matrix: "{% url 'network:bg-js-matrix' %}",
        nodes: "{% url 'network:bg-js' %}",
      });
   </script>

{% endwith %}
{% endblock %}