{% extends 'site_base.html' %}
{% load static %}

{% block page-subtitle %} | Network Graph{% endblock %}

{% block content %}
<div class="container-fluid">
<p>Force-directed network graph people, places, and organizations.
   (Graph is weighted, and nodes of zero-degree have been omitted.)
  Notes are colored by type.  Hover over a node to see the label.</p>

 <div id="chart"></div>

  <script src="{% static 'js/d3.min.js' %}" charset="utf-8"></script>
  <link type="text/css" href="{% static 'css/d3.force.css' %}" rel="stylesheet" media="screen"/>
   <script type="text/javascript" src="{% static 'js/d3.force.js' %}"></script>
   <script type="text/javascript">
      ForceGraph({
        url: "{% url 'network:full-js' %}",
        width: 1000,
        height: 650,
      });
   </script>
</div>
{% endblock %}