{% extends 'page_base.html' %}
{% load static %}

{% block page-subtitle %} : {{ flatpage.title }}{% endblock %}

{% block head-extras %}
<script type="text/javascript" src="{% static 'js/jquery.ui.map.full.min.js' %}"></script>
{% endblock %}

{% block page-content %}
{% if flatpage %}
{% include "flatpages/snippets/flatpage_content.html" %}
{% endif %}

<div class="panel panel-default">
  <div class="panel-heading col-xs-12">

    <div class="col-xs-12 col-sm-9">
      <p>A map of all places referenced in our data specific to the Belfast Group and the people associated with it.</p>
    </div>
    <div class="col-xs-12 col-sm-3">
      <!-- Single button -->
      <div class="btn-group">
        <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown">
          Filter by person <span class="caret"></span>
        </button>
        <ul class="dropdown-menu map-filter" role="menu">
          {% for id, name in people.iteritems %}
          <li><a id="{{ id }}">{{ name }}</a></li>
          {% endfor %}
          <li class="divider"></li>
          <li class="active"><a id="view_all">View All</a></li>
        </ul>
      </div>
    </div>
  </div>

  {# FIXME: height % seems to be ignored entirely... #}
  <div id="map_canvas" class="panel-body" style="height:90%;min-height:550px;">
    {# <div id="map_canvas" style="border:1px solid black;width:75%;height:80%;position:absolute"> #}
    <br />
  </div>
</div>

<script type="text/javascript" src='https://maps.googleapis.com/maps/api/js?key={{ api_key }}'></script>
<script type="text/javascript">
  function initMap() {

  }

  fetch('{% url '
      network: map - js ' %}')
    .then((response) => {
      return response.json();
    })
    .then((data) => {
      let openWindow = null;
      let iconBase = '{% static '
      img / ' %}map_marker_';
      let bounds = new google.maps.LatLngBounds();
      let map = new google.maps.Map(document.getElementById('map_canvas'), {
        zoom: 4,
        center: {
          lat: 0,
          lng: 0
        },
        disableDefaultUI: true,
        zoomControl: true,
        fullscreenControl: true
      });
      data.markers.forEach(marker => {
        console.log(iconBase, marker.icon);
        let mapMarker = new google.maps.Marker({
          position: {
            lat: parseFloat(marker.latitude),
            lng: parseFloat(marker.longitude)
          },
          map: map,
          title: marker.title,
          icon: `${iconBase}${marker.icon}.png`
        });
        bounds.extend(mapMarker.position);
        marker.mapMarker = mapMarker;

        let infoWindow = new google.maps.InfoWindow({
          content: marker.content
        });
        mapMarker.addListener('click', function () {
          infoWindow.open(map, mapMarker);
          if (openWindow && openWindow != infoWindow) {
            openWindow.close()
          }
          openWindow = infoWindow;
        });
      });
      map.fitBounds(bounds);
      let mapFilter = document.getElementsByClassName('map-filter')[0];
      let links = mapFilter.getElementsByTagName('a');
      for (let link of links) {
        link.addEventListener('click', function (event) {
          for (let link of links) {
            link.parentNode.classList.remove('active');
          }
          link.parentNode.classList.add('active');
          data.markers.forEach(marker => {
            if (event.target.id == 'view_all') {
              marker.mapMarker.setVisible(true);
              event.target.parentNode.classList.add('active');

            } else if (marker.tags.includes(event.target.id)) {
              marker.mapMarker.setVisible(true);
              // event.target.parentNode.classList.add('active');
            } else {
              marker.mapMarker.setVisible(false);
              // event.target.parentNode.classList.remove('active');
            }
          })
        })
      }
    });
</script>
{% endblock %}