{% load static %}
{% comment %}
NOTE: This site uses RDFa and schema.org vocabulary.  Every page will be declared as schema:Webpage
by default; use page_rdf_type to override with a webpage subclass.
{% endcomment %}
<!DOCTYPE html>
<html xmlns:schema="http://schema.org/"
{# additional namespaces (primarly for semantic web/RDFa) #}
{% for prefix, ns in extra_ns.iteritems %}xmlns:{{ prefix}}="{{ ns }}" {% endfor %}>
  <head>
    <title>{% block page-title %}The Belfast Group{% block page-subtitle %}{% endblock %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {#- Bootstrap #}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen"/>
    <link href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet" media="screen"/>
    <link href="{% static 'css/local.css' %}" rel="stylesheet" media="screen"/>
    <script src="{% static 'js/jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
    {% block head-extras %}{% endblock %}
  </head>
  <body typeof="{{ page_rdf_type|default:'schema:Webpage' }}" about="{{ page_rdf_url|default:request.build_absolute_uri }}"
   {% block body-attrs %}{% endblock %}>
    <div id="wrap">

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{% url 'site-index' %}">The Belfast Group</a>
          <div class="nav-collapse collapse">

            {# keyword search form #}
            {% if kwsearch_form %}
            <form class="form-search navbar-search pull-right" action="{% url 'groupsheets:search' %}">
              {{ kwsearch_form.keywords }}
              <button type="submit" class="btn btn-primary"><i class="icon-search icon-white"></i></button>
            </form>
            {% endif %}

            <ul class="nav">
              {% url 'overview' as overview_url %}
              <li{% if request.path = overview_url %} class="active"{% endif %}>
                <a href="{{ overview_url }}">Overview</a></li>
              {% url 'groupsheets:list' as groupsheet_list %}
              <li{% if request.path = groupsheet_list %} class="active"{% endif %}>
                 <a href="{{ groupsheet_list }}">Group Sheets</a></li>
              {% url 'people:list' as people_list %}
              <li{% if request.path = people_list %} class="active"{% endif %}>
                 <a href="{{ people_list }}">People</a></li>
               {% url 'bios' as bios_url %}
              <li{% if request.path = bios_url %} class="active"{% endif %}>
                 <a href="{{ bios_url }}">Biographies</a></li>

               {% url 'network:full' as network_url %}
              <li{% if request.path = network_url %} class="active"{% endif %}>
                 <a href="{{ network_url }}">Network</a></li>
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container-fluid">
      {% block content %}{% endblock %}
    </div>

  <div id="push"></div>
  </div> {# end wrap #}

    <div id="footer">
      <div class="container">
        <p class="pull-right">{{ SW_VERSION }}</p>
        <ul class="inline muted credit">
          <li><a href="http://beck.library.emory.edu/">Lewis H. Beck Center</a></li>
          <li><a href="http://marbl.library.emory.edu">Manuscript, Archives, and Rare Book Library</a></li>
          <li><a href="http://www.emory.edu/">Emory University</a></li>
          {# TODO: include DiSC here maybe? #}
        </ul>
      </div>
    </div>

    <script>
    $(function () {
      $('input[name=keywords]').tooltip();
    });
    </script>


  </body>
</html>