{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <title>{% block page-title %}The Belfast Group{% block page-subtitle %}{% endblock %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {#- Bootstrap #}
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet" media="screen">
    <link href="{% static 'bootstrap/css/bootstrap-responsive.min.css' %}" rel="stylesheet" media="screen">
  </head>
  <body>
    {% block content %}{% endblock %}

    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
  </body>
</html>