/* based on d3.js force-directed graph example */
circle.node {
    stroke: #fff;
    stroke-width: 1.5px;
}

.link {
    fill: none;
    stroke: #999;
    stroke-opacity: .6;
}


.node-label {
    fill: #adadad;
    font-family: "Arial";
    font-size: 10pt;
}

.node-label:hover {
    fill: black;
    font-weight: bold;
}

.highlight .node-label {
    fill: black;
    font-weight: bold;
    font-size: 11pt;
}

/* styles for graph controls */
#graph-controls {
    border: 2px solid #efefef;
    padding: 10px;
    width: 3in;
}