/* based on d3.js force-directed graph example */
.node {
    /*stroke: #fff;*/
    /*stroke-width: 1.5px;*/
}

.node.fixed {
   stroke: #000;
   stroke-width: 1.5px;
}

.link {
    fill: none;
    /*stroke: #999;*/
    stroke: #bed9e3;
    stroke-opacity: .6;
}

.node-label {
    /*fill: #adadad;*/
    fill: #818181;  /* bit darker for more readablity (?) */
    font-family: "Arial";
    font-size: 10pt;
}

.node-label:hover, .hover .node-label {
    fill: black;
    font-weight: bold;
}

.node-info-link:hover {
    cursor: pointer;
}

.highlight .node-label {
    fill: black;
    font-weight: bold;
    font-size: 11pt;
}

/* styles for graph controls */
#graph-controls {
    border: 2px solid #efefef;
    padding: 10px;
    background-color: white;
}
/*#graph-controls p {
    padding: 0;
    border: 0;

}
*/
#vislabel-size, #visnode-size {
    display: inline;
    width: 2em;
}
.range-slider {
    border: 0;
    /*color: #f6931f;*/
    color: #428bca;
    font-weight: bold;
}

#node-info {
    padding: 5px;
}
#node-info h4 {
    margin-bottom: 0;
}