/* site css for sticky footer */
html, body {
   height: 100%;
 }

/* Wrapper for page content to push down footer */
.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    /* Negative indent footer by it's height */
    margin: 40px auto -30px;
}

/* fixed height of the footer */
#push, #footer {
    min-height: 30px;
}
#footer {
    background-color: #f5f5f5;
}
/* adjust anchor links so they fall below site fixed header */
a[name] {
  padding-top: 100px;
  margin-top: -100px;
  display: inline-block; /* required for webkit browsers */
}

.local-sidenav {
    padding: 20px 0;
}

/* group sheet + poetry formatting */
.poem {
    border-top: 1px solid gray;
}
.epigraph {
    font-style:italic;
}
.linegroup {
   margin: 1em 0px;
}
.linegroup p {
    margin: 0px;
}
.poem blockquote {
    border-left: none;
}

/* Tablet  ------------------------- */
  @media (max-width: 767px) {

    /* adjust footer for responsive CSS */
    #footer {
        margin-left: -20px;
        margin-right: -20px;
        padding-left: 20px;
        padding-right: 20px;
    }

    /* Sidenav */
    .local-sidenav {
        width: auto;
        margin-bottom: 20px;
    }
    .local-sidenav .affix {
        position: static;
        width: auto;
        top: 0;
    }

     /* adjust page content wrapper */
    .wrap {
        margin-top: 0px;
    }

}


